html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Vectorb';
  color: white;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
}
canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  border: 1px solid rgb(224, 255, 255);
  box-shadow: 0px 0px 10px 3px rgba(146, 213, 228, 0.23);
}

#main-container {
  position: relative;
}

.ui-label-container {
  position: absolute;
  cursor: default;
  z-index: 5;
  font-weight: 600;
  font-size: 24px;
  color: rgb(224, 255, 255);
  text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.6),
    0.05em 0 0 rgba(0, 255, 255, 0.6),
    -1px 0px 10px rgb(146, 213, 228);
}

@font-face {
  font-family: 'Vectorb';
  src: url('fonts/Vectorb.ttf') format('truetype');
}
